{% extends "main.html" %}
{% block content %}


    <!-- SECTION WELCOME -->
    <section id="advisor">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                	<img src="img/logo.png" alt="logo">
                	<h1 class="wow fadeInDown">The Crowdsourcing Design Advisor</span></h1>
                    <p class="subhead wow fadeInDown" data-wow-delay="0.2s">A five minute questionnaire designed to provide you with case studies and learnins about crowdsourcing tailored to your needs and circumstance.</p>
                </div>
            </div>
        </div>
    </section>


        <section id="about">
            
            <div class="about-img" data-stellar-background-ratio="0.5">
                <div id="head" class="container">
                    <div class="row text-center">
                        <h2 class="col-lg-12 uppercase wow fadeInDown">About The Crodsourcing Design Advisor</h2>
                        <p class="subhead wow fadeInUp">Sed ac lobortis orci. Ut in ipsum vel quam congue tincidunt nec vel lectus.</p>
                        <i class="pe-7s-loop pe-5x wow fadeInDown animated" data-wow-delay="0.4s"></i>
                    </div>
                </div>
            </div>
            
            <div class="about">
                <div class="container">
                    <div class="row">
                        <h3 class="col-lg-12">Nunc id enim suscipit</h3>
                        
                        <div class="col-lg-4">
                            <p class="subhead">Maecenas dolor enim, tempus et libero eu, eleifend vehicula enim. Ut commodo cursus risus, ut auctor magna tempor non. Proin tincidunt sit amet risus a dictum. Quisque quis imperdiet lacus.</p>
                        </div>
                        
                        <div class="col-lg-4">
                            <p>Aliquam faucibus sodales metus, commodo posuere lacus convallis eu. Donec dictum urna in dignissim cursus. Nunc gravida leo nisi, a sodales nibh viverra vitae. Nulla lorem neque, mollis vitae hendrerit nec, rutrum ac justo. Proin imperdiet sem et velit auctor porttitor. Nullam sit amet turpis massa. Proin velit ante, euismod a eros vel, condimentum egestas velit. Vestibulum ornare eleifend lacus, quis vestibulum nisl tincidunt quis. Quisque luctus mattis est interdum consectetur. Proin laoreet velit quis nisl dignissim auctor. Morbi sodales metus vitae fermentum tempor.</p>
                        </div>
                        
                        <div class="col-lg-4">
                            <p>Aliquam faucibus sodales metus, commodo posuere lacus convallis eu. Donec dictum urna in dignissim cursus. Nunc gravida leo nisi, a sodales nibh viverra vitae. Nulla lorem neque, mollis vitae hendrerit nec, rutrum ac justo. Proin imperdiet sem et velit auctor porttitor. Nullam sit amet turpis massa. Proin velit ante, euismod a eros vel, condimentum egestas velit. Vestibulum ornare eleifend lacus, quis vestibulum nisl tincidunt quis. Quisque luctus mattis est interdum consectetur. Proin laoreet velit quis nisl dignissim auctor. Morbi sodales metus vitae fermentum tempor.</p>
                        </div>
                    </div>
                </div> 
            </div>
        </section>





{% endblock %}